:root {
  --color-1: #F8F0E5;
  --color-2: #EADBC8;
  --color-3: #DAC0A3;
  --color-4: #102C57;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* NAVBAR */
  .navbar {
    background-color: var(--color-4);
    color: var(--color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .codo-logo img {
    max-width: 100px;
    background-color: var(--color-1);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* 
  .navbar-menu{
    width: 50vw;
    right: 0;
    justify-content: space-between;
  } */
  
  .navbar-menu ul {
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 20px;
    border-bottom: 1px solid var(--color-2);
  }
    
  .navbar-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  /* NAVBAR HOVER */
  .navbar-menu a:hover {
    color: var(--color-3);
  }

  .navbar-menu a.active {
    background-color: var(--color-3);
    color: var(--color-4);
  }

/* --- FIN NAV-BAR --- */

/* --- MAIN CONTENT --- */

#h1_index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../img/avion-fondo-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 3rem;
}

#h1_index > h1{
  text-align: center;
  color: var(--color-1);
  background-color: var(--color-4);
  width: 100vw;
  height: 7rem;
}

.article_index {
  display: flex;
  width: 100vw;
  height: 40vh;
  margin-top: .7rem;
}

#article_aboutus{
  justify-items: center;
  /* align-items: center; */
}

#article_aboutus > h2 {
  width: 50%;
  background: url('../img/img-art-1.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  color: var(--color-4);
}

#article_aboutus > p {
  width: 50%;
  padding: 20px;
  background: var(--color-2); 
  color: var(--color-4); 
}
#article_disney{
  justify-items: center;
  /* align-items: center; */
}

#article_disney > h2 {
  width: 50%;
  background: url('../img/disney.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  color: var(--color-4);
}

#article_disney > p {
  width: 50%;
  padding: 20px;
  background: var(--color-1); 
  color: var(--color-4);
}
#article_europa{
  justify-items: center;
  /* align-items: center; */
}

#article_europa > h2 {
  width: 50%;
  background: url('../img/europa.jpeg') no-repeat center center;
  background-size: cover;
  padding: 20px;
  color: var(--color-4);
}

#article_europa > p {
  width: 50%;
  padding: 20px;
  background: var(--color-2); 
  color: var(--color-4);
}

/* --- FORM --- */
#index_form{
  background-color: var(--color-4);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.h2_form{
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-1);
  font-weight: bolder;
}

.form_index {
  max-width: 42rem;
  margin: 0 auto;
  padding: .6rem 2rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-4);
  border-radius: 5px;
  margin-top: 1rem;
}

/* fieldsets */
.form_info_personal, .form_destino, .form_mensaje {
  margin-bottom: 20px;
  padding: .7rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-4);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 94%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-4);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* botón de enviar */
.form_boton_enviar {
  display: inline-block;
  background-color: var(--color-4);
  color: var(--color-1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* botón de enviar hover */
.form_boton_enviar:hover {
  background-color: var(--color-3);
  color: var(--color-4);
}

/* FOOTER */

footer{
  background-color: var(--color-4);
  height: 6rem;
  margin-top: 2rem;
  text-align: center;
  color: var(--color-2);
}

.derechos{
  padding-top: 1rem;
}

/* Media query */
@media (max-width: 480px) {
  
  /*--- NAV-BAR ---*/

  .navbar {
    flex-direction: column;
    align-items: center;
    /* transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s; */
}

  .codo-logo {
    text-align: center;
    background-color: var(--color-1);
    border-radius: 4px;
    width: 97vw;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  
  .codo-logo img{
    background-color: var(--color-1);
  }

  .navbar-menu {
    margin-top: 2px;
  }

  .navbar-menu ul {
    flex-direction: column;
  }

  .navbar-menu li {
    margin: 5px 0;
    border-bottom: 1px solid var(--color-2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 80vw;
    text-align: center;
  }

  /* --- FIN NAV-BAR --- */

  /* --- FORMULARIO --- */

  .form_index {
    max-width: 70vw;
    margin: 0 auto;
    padding: .6rem 2rem;
    background-color: var(--color-1);
    border: 1px solid var(--color-4);
    border-radius: 5px;
  }
}
